.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.rounded-button {
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    margin-top: 28px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.table-main thead th {
    background-color: #f76804 !important;
    color: white;
}
.back-button {
    background: none;
    border: none;
    color: purple;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.form-control {
    min-width: 150px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}